.header {
  @apply fixed z-30 top-0 left-0 w-full bg-[#562E69] xl:bg-white;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
  .button {
    @apply px-4 py-2 transition-all rounded-30 border-2 border-transparent hover:border-premium whitespace-nowrap;
    &.active {
      @apply font-bold text-primary border-premium bg-premium hover:bg-transparent;
    }
  }
  .burger {
    @apply ml-4 space-y-1.5 cursor-pointer transition-all hover:opacity-60;
    &.show {
      > div:nth-child(1) {
        @apply rotate-45 top-1;
      }
      > div:nth-child(2) {
        @apply hidden;
      }
      > div:nth-child(3) {
        @apply -rotate-45 -top-1;
      }
    }
    > div {
      @apply w-6 h-0.5 bg-white xl:bg-black relative;
    }
  }
  .menu {
    @apply hidden items-center;
    &.show {
      @apply flex;
    }
    li {
      @apply ml-4;
    }
    a {
      @apply text-[15px] whitespace-nowrap;
    }
  }
  .mobile-menu {
    @apply hidden overflow-auto bg-black bg-opacity-80  fixed z-10 left-0 top-0 w-full h-full;
    &.show {
      @apply block;
      .menu {
        animation: translate 0.4s ease-in-out 0s forwards;
      }
    }
    .menu {
      @apply overflow-auto p-4 min-h-full flex flex-col items-start max-w-lg transition-all bg-white;
      .btn {
        @apply py-1;
      }
      li {
        @apply mb-8 ml-0 w-full;
      }
      a {
        @apply text-lg;
      }
    }
    .show-submenu {
      .submenu-wrapper {
        @apply block;
      }
      .more-js {
        img {
          @apply rotate-180;
        }
      }
    }
    .submenu-wrapper {
      @apply hidden;
    }
    .more-title {
      user-select:    none;
      pointer-events: none;
    }
    .more-js {
      img {
        user-select:    none;
        pointer-events: none;
      }
    }
    .submenu {
      @apply relative;
      &:before {
        content: '';
        @apply w-0.5 h-[84%] absolute left-[11px] top-[10%] bg-[#C9BDD2] -z-10;
      }
      &.active {
        h4 {
          img {
            &.minus {
              @apply block;
            }
            &.plus {
              @apply hidden;
            }
          }
        }
        ul {
          @apply block;
        }
      }
      h4 {
        @apply mb-4 text-[17px] flex items-center text-[#495057];
        span {
          @apply bg-white px-0.5 mr-2 min-w-[22px] text-center text-[13px] text-[#25A1AF] font-bold border-2 border-[#25A1AF] rounded-md;
        }
        img {
          @apply ml-auto;
          user-select:    none;
          pointer-events: none;
          &.minus {
            @apply hidden;
          }
          &.plus {
            @apply block;
          }
        }
      }
      ul {
        @apply hidden ml-8;
        li {
          @apply text-sm mb-4 relative;
          &:active, &.active {
            @apply text-primary;
            span {
              @apply text-primary;
            }
          }
          &:before {
            content: '';
            @apply w-4 h-0.5 absolute -left-5 top-1/2 bg-[#C9BDD2] -z-10;
          }
          span {
            @apply text-[#6C757D] font-bold;
          }
        }
      }
    }
  }
}


@keyframes translate {
  0% {
    transform: translate(-100%, 0);
  }
  100% {
    transform: translate(0, 0);

  }
}